<app-side-menu (changeValue)="change($event)"></app-side-menu>

<div class="content">
  <div [ngSwitch]="tabSelected">
    <div *ngSwitchCase="'hacker-news'">
      <app-hacker-news></app-hacker-news>
    </div>
    <div *ngSwitchCase="'wall-street-journal'">
      <app-wall-street-journal></app-wall-street-journal>
    </div>
    <div *ngSwitchCase="'github'">
      <app-github></app-github>
    </div>
    <div *ngSwitchCase="'bbc'">
      <app-bbc></app-bbc>
    </div>
    <div *ngSwitchCase="'tech-crunch'">
      <app-tech-crunch></app-tech-crunch>
    </div>
  </div>

</div>