<ul class="sidebar">
	<img src="../../assets/icon.png" alt="Icon">
	<a>All in One</a>
	<hr>
	<li (click)="changeTab('hacker-news')">Hacker News</li>
	<li>Reddit</li>
	<li>Product Hunt</li>
	<li>Slashdot</li>
	<li>Design News</li>
	<li>Github Trending</li>
	<li>Medium</li>
	<li>Lifehacker</li>
	<hr>

	<a href="#about">Settings</a>
	<hr>

	<a href="#about">Install Chrome Extension</a>

	<a class="copyright" href="http://www.hackerplan.com" target="_blank">&copy; HackerPlan</a>
	
</ul>

<!-- <div class="content">
	<h2>Responsive Sidebar Example</h2>
	<p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or
		less.</p>
	<p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the
		navigation links.</p>
	<h3>Resize the browser window to see the effect.</h3>
</div> -->