.sidebar {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 340px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
	// text-align: left;
	
  font-size: 14px;
  display: block;
  color: #666;
  font-weight: 500;
  padding: 16px;
  text-decoration: none;
  width: 160px;
	margin: 0 auto 0 auto;
	padding: 6px;
}

.sidebar img {
  display: block;
  margin: 30px auto;
	opacity: .7;
	// background-color: red;
}

.sidebar hr {
	margin: 15px auto 15px auto;
	text-align: left;
  width: 200px;
  border: 1px solid #222;
  opacity: 0.1;
  background: linear-gradient(to right, #dcdcdc, rgba(220, 220, 220, 0));
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
