<div class="sidebar">
	<img src="../../assets/icon.png" alt="Icon">
	<a>All in One</a>
	<hr>
	<a href="#home">Hacker News</a>
	<a href="#news">Reddit</a>
	<a href="#contact">Product Hunt</a>
	<a href="#about">Slashdot</a>
	<a href="#about">Design News</a>
	<a href="#about">Github Trending</a>
	<a href="#about">Medium</a>
	<a href="#about">Lifehacker</a>
	<hr>

	<a href="#about">Settings</a>
	<hr>

	<a href="#about">Install Chrome Extension</a>

	<a href="http://www.hackerplan.com" target="_blank">&copy; HackerPlan</a>
</div>

<!-- <div class="content">
	<h2>Responsive Sidebar Example</h2>
	<p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or
		less.</p>
	<p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the
		navigation links.</p>
	<h3>Resize the browser window to see the effect.</h3>
</div> -->